<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <!--Header-->
    <%- include ('header/header') %>
</head>
<body id="fondo">
  <!--Navegacion-->
 <%- include ('navegacion/nav') %>
 
 <!--SLIDE-->
 <%- include ('slide/carrusel') %>

 <!--ABOUT-->
 <%- include ('about') %>

 <!--CONOCIMEINTOS-->
 <%- include ('conocimientos') %>
 
 <!--Proyectos-->
 <%- include ('proyectos') %>
 
 <!--pre-footer-->
 <%- include ('pre-footer') %>
 
    <!--Footer-->
    <%- include ('footer/footer') %>
</body>
</html>